@{
    ViewBag.Title = "";
}
<h1>@ViewBag.Title</h1>

<h1>Data Extract</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="width: 10%;">#</th>
            <th scope="col" style="width: 10%;">Type</th>
            <th scope="col" style="width: 25%;">File</th>
            <th scope="col" style="width: 15%;">Package</th>
            <th scope="col" style="width: 10%;">Paid</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>PDF</td>
            <td>Satva Solutions 2020.pdf</td>
            <td>
                <a href="https://aws.amazon.com/textract/" target="_blank">Amazon Textract</a>
            </td>
            <td>Y</td>
            <td>
                <a href="@Url.Content("~/SampleFiles/Satva Solutions 2020.pdf")" target="_blank">
                    <span class="glyphicon glyphicon-file"></span> Preview
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/Home/ViewFileData?fileName=Satva Solutions 2020.pdf")" target="_blank">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View Data
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>JPG</td>
            <td>Satva Solutions 2020.jpg</td>
            <td>
                <a href="https://aws.amazon.com/textract/" target="_blank">Amazon Textract</a>
            </td>
            <td>Y</td>
            <td>
                <a href="@Url.Content("~/SampleFiles/Satva Solutions 2020.jpg")" target="_blank">
                    <span class="glyphicon glyphicon-file"></span> Preview
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/Home/ViewFileData?fileName=Satva Solutions 2020.jpg")" target="_blank">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View Data
                </a>
            </td>
        </tr>
    </tbody>
</table>

<h1>Operations</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="width: 10%;">#</th>
            <th scope="col" style="width: 10%;">Operation</th>
            <th scope="col" style="width: 25%;">File</th>
            <th scope="col" style="width: 15%;">Package</th>
            <th scope="col" style="width: 10%;">Paid</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Modify</td>
            <td>PDF Form.pdf</td>
            <td>
                <a href="http://www.pdfsharp.net/" target="_blank">PDFSharp</a>
            </td>
            <td>N</td>
            <td>
                <a href="@Url.Content("~/SampleFiles/PDF Form.pdf")" target="_blank">
                    <span class="glyphicon glyphicon-file"></span> Preview
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/Home/FillPDFForm?fileName=PDF Form.pdf")" target="_blank">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modify
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Split</td>
            <td>Satva Solutions 2020 10 Pages.pdf</td>
            <td>
                <a href="http://www.pdfsharp.net/" target="_blank">PDFSharp</a>
            </td>
            <td>N</td>
            <td>
                <a href="@Url.Content("~/SampleFiles/Satva Solutions 2020 10 Pages.pdf")" target="_blank">
                    <span class="glyphicon glyphicon-file"></span> Preview
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/Home/SplitPDF?fileName=Satva Solutions 2020 10 Pages.pdf")" target="_blank">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Split
                </a>
            </td>
        </tr>
    </tbody>
</table>